/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/
.fancy-button, .fancy-button:active, .fancy-button:visited {
  background-color: #f1c309;
  border-radius: 15px;
  padding: 7px 12px 6px 0px !important;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  background-image: url("../images/fancy-button-yellow.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 42px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.fancy-button:hover {
  background-color: #FFFFFF;
  color: #f1c309 !important;
  background-image: url('../images/fancy-button-yellow-hover.jpg');

}

.blue-button, .blue-button:active, .blue-button:visited {
  display: block;
  width: 100%;
  background: #51b5e6;
  min-width: 100px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 3px 0px;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}

.blue-button:hover {
  color: #FFFFFF !important;
  text-decoration: underline;
}

.view-more-button, .read-more-button, .view-more-button:visited, .read-more-button:visited, .view-more-button:active, .read-more-button:active {
  color: #FFFFFF;
  text-transform: uppercase;
  background: #f1c309;
  border-radius: 15px;
  padding: 6px 20px !important;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.accordion-archives {
  font-size: 16px;
}

.page-id-22 .view-more-button {
  margin-bottom: 50px;
}

.previous {
  margin-right: 10px;
}

.next {

}

.previous, .next {
  display: block;
  float: left;
  min-width: 125px;
  text-align: center;
  padding: 3px 20px;
}

.view-more-button:hover, .read-more-button:hover {
  color: #FFFFFF !important;
}

a.view-more-button.yellow.next {
  float: right;
}

.recent-news .news-post {
  margin-bottom: 30px;
}

.recent-news .news-post .view-more-button {
  display: inline;
  background: #FFFFFF;
  padding-left: 0px;
  margin-left: 0px;
  color: #51b5e6;

}

.recent-news .news-post .view-more-button:hover {
  color: #51b5e6 !important;
}


%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

.page-id-28 .view-more-button:active, .page-id-28 .view-more-button:visited, .page-id-28 .view-more-button {
  max-width: 165px;
}


@media only screen and (min-width: 480px) {

  .recent-news .view-more-button {
    margin: 0;
  }

  .fancy-button, .fancy-button:active, .fancy-button:visited {
    max-width: 285px;
  }

  .blue-button, .blue-button:active, .blue-button:visited {
    max-width: 145px;
  }

  .view-more-button, .read-more-button, .view-more-button:visited, .read-more-button:visited, .view-more-button:active, .read-more-button:active {
    max-width: 145px;
  }

    .page-id-22 .view-more-button, .page-id-22 .read-more-button, .page-id-22 .view-more-button:visited, .page-id-22 .read-more-button:visited, .page-id-22 .view-more-button:active, .page-id-22 .read-more-button:active {
    max-width: 185px;
  }

}

@media only screen and (min-width: 600px) {

  .fancy-button, .fancy-button:active, .fancy-button:visited {

  }

  .blue-button, .blue-button:active, .blue-button:visited {
    max-width: 145px;
  }

  .view-more-button, .read-more-button, .view-more-button:visited, .read-more-button:visited, .view-more-button:active, .read-more-button:active {
    max-width: 145px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {

  .page-id-28 .blue-button, .page-id-28 .view-more-button {
    margin: 0 auto;
  }

}

