/************************/
/* DESKTOP MENU STYLES  /
/**********************/

@media only screen and (min-width : 768px) {

  .desktop-nav {

    .menu {

      li {

        margin-right: 20px;

        a{

          font-size: 13px;
          padding-bottom: 7px;
        }

        a:hover {
          color: #f1c309 !important;
          text-decoration: underline;
        }
      }
    }

  }

  .desktop-secondary-nav {

    .secondary-desktop-menu {

      li {

        a {
          font-size: 13px;
        }
      }
    }
  }

  .menu-item-has-children {
    position: relative;
  }

  .menu-item-has-children:hover > ul.sub-menu {
    left: 0px;
    top: 12px;
  }

  ul.sub-menu {
    position: absolute;
    left: -9999px;
    z-index: 999;
    background: #232d4f;
    padding: 2px 7px;

    li {

      margin-right: 0px !important;
      float: left;
      padding: 5px;
      border-bottom: 1px solid #576db9;
      text-align: left;

      a {
        color: #FFFFFF !important;
        font-size: 14px !important;
      }

      a:hover {
        color: #f1c309 !important;
        text-decoration: none !important;
      }
    }

    li:last-child {
      border-bottom: 0px;
    }

  }

}




