/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.header {

}

.welcome {

	.welcome-bottom {
		position: inherit;
		max-height: 150px;
	    bottom: 0px;
	    width: inherit;
	    max-width: 550px;
	    margin: 0 auto;
	    margin-top: 15px;
	}
}

p.satisfaction-testimonials {
	padding-top: 10px;
	padding-bottom: 10px;

}

.patient-satisfaction {
	font-size: 16px;
	padding-right: 10px;

}

.ninety-nine {
	font-size: 35px;
	padding-right: 10px;

}


.patient-testimonials {
	font-size: 16px;

}

.yellow-arrow {


	img {
		height: 15px;
		width: 15px;
		margin-top: 8px;
	}
}


.page-content {
	padding-left: 13%;
	padding-right: 13%;
  padding-bottom: 30px !important;
}

.sidebar-left {
	width: 26%;
	float: left;
	padding-right: 4%;
	margin-top: 4.5em;
}

.content-right {
	width: 70%;
	float: right;
}

.accordion-archives {
	margin-left: 1%;
}

.archive-accordion-month a {
	color: #003663;
}

.page-id-24 {

	h2.widgettitle {
		display: none;
	}
}

.procedures {

	.content {
		margin-left: 13%;
		margin-right: 13%;
	}
}

.locations-inner {
	margin-left: 13%;
	margin-right: 13%;
}

.locations-inner.footer {
	margin-left: 13%;
	margin-right: 13%;
}

.doctors {

	text-align: left;

	.doctor {
		width: inherit; 
	}
}

.sidebar-left.doc-bio{
  clear: inherit;
}

.sidebar-left.post {
  clear: inherit;
}

.archive-accordion-month {
	text-align: left;
}