/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/

/******************/
/* CUSTOM STYLES */
/****************/


.welcome {

	h1 {
	}

	.welcome-bottom {
		bottom: -5px;
		max-height: 150px;
	}
}

.page-content {
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
  padding-bottom: 60px;
}

.locations-inner {
	margin-left: 10%;
	margin-right: 10%;
}


.procedures .content ul.yellow-procedures li {
	display: inline-block; 
	padding-right: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
	margin-bottom: 20px;
}

.fifty-percent {
	width: 50%;
}

.locations-footer {
	text-align: left;
}

.locations-inner.top p {
	text-align: center;
	font-size: 24px;
}

.locations-top-right p {
	text-align: left;
}

.locations-footer p.white {
	
}

.fancy-input {
	margin: 0 auto;
	max-width: 335px !important;
	width: 100%;
}

.blue-button {
	max-width: 335px !important;
}

.newsletter-signup {
	margin: 0 auto;
	max-width: 335px !important;
	width: 100%;
}

p.need-help {
	max-width: 335px;
	margin: 0 auto;
	font-size: 16px !important;
	margin-top: 10px;
}

p.white br {
	display: none;
}

.location {
	display: inline-block;
	margin-bottom: 45px;
}

.location-image-container {
	max-width: 250px;
	float: left;
	padding-right: 15px;
	width: 50%;
	padding-top: 5px;
	padding-left: 0px;
}


.location-info {
	float: left;
	text-align: left;
	width: 50%;
}

.location-info .blue {
	font-weight: bold;
}

.doctors {
	text-align: center;
}


.doctor {
	width: 47%;
	padding-right: 1%;
	padding-left: 1%;
	display: inline-block; 
	vertical-align: top;
	text-align: center;
}


.doctor p.blue {
	font-size: 13px;
}

.doctor-image {
	padding-left: 0px;
	padding-right: 15px;
	padding-bottom: 25px;

}





.page-id-22  {

	.locations {
		padding-bottom: 3em;
	}

	.navigation-icon {
		display: none;
	}

	.need-help {
		display: none;
	}

	.fancy-input {
		margin-bottom: 3em;
	}

	.fancy-button.directions {
		display: none;
	}

	.location-header {
		display: none;
	}

	br {
		display: none;
	}

}

.page-id-24 {

  .excerpt-read-more, .excerpt-read-more:active, .excerpt-read-more:visited {

    margin: 0;
    margin-top: 12px;
  }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {


	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

} /* end .entry-content */



/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */

